@font-face {
  font-family: "Barlow-Bold";
  src: local("Barlow-Bold"),
    url(../src/assets/fonts/Barlow-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow-Medium";
  src: local("Barlow-Medium"),
    url(../src/assets/fonts/Barlow-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow-Regular";
  src: local("Barlow-Regular"),
    url(../src/assets/fonts/Barlow-Regular.ttf) format("truetype");
}

:root {
  --font-regular: "Barlow-Regular", sans-serif;
  --font-medium: "Barlow-Medium", sans-serif;
  --font-bold: "Barlow-Bold", sans-serif;
  --bg-color: #0a0a0a;
  --main-color: #55e748;
  --second-color: #1e1e1e;
  --main-text: #ffffff;
  --second-text: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-regular);
  background-color: var(--bg-color);
  min-height: 100vh;
}

/* reset tags */
input,
textarea,
button,
a {
  outline: none;
  background: none;
  border: none;
  color: var(--main-text);
  font-family: var(--font-regular);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 50px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 100px;
  }
}
